---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>

<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
 
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {
    inlineMath: [['$','$'], ['\\(','\\)']],
    processEscapes: true
  }
});
</script>
 
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
      }
    });
</script>

<script>
  MathJax = {
  tex: {
  inlineMath: [['$', '$']],
  displayMath: [['\\[', '\\]']],
  processEnvironments: true,
  processRefs: true
  },
  options: {
  skipHtmlTags: ['noscript', 'style', 'textarea', 'pre', 'code'],
  ignoreHtmlClass: 'tex2jax_ignore',
  renderActions: {
  find_script_mathtex: [10, function (doc) {
  for (const node of document.querySelectorAll('script[type^="math/tex"]')) {
  const display = !!node.type.match(/; *mode=display/);
  const math = new doc.options.MathItem(node.textContent, doc.inputJax[0], display);
  const text = document.createTextNode('');
  node.parentNode.replaceChild(text, node);
  math.start = { node: text, delim: '', n: 0 };
  math.end = { node: text, delim: '', n: 0 };
  doc.math.push(math);
  }
  }, '']
  }
  },
  svg: {
  fontCache: 'global'
  }
  };
  </script>
  <script id="MathJax-script" async src="https://cdn.staticfile.org/mathjax/3.0.1/es5/tex-svg.js"></script>